*.iml
.gradle

.idea1
/local.properties
/.idea1/caches
/.idea1/libraries
/.idea1/modules.xml
/.idea1/workspace.xml
/.idea1/navEditor.xml
/.idea1/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
